body{
  
}

/**--------- NAVIGATION --------- **/
#header-nav{
  background-color: #222;
  border-radius: 0;
  border: 0;
}

#logo-img{
  background: url('http://i.imgur.com/F9ZYM7x.jpg?1') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand{
  padding-top: 25px;
}

.navbar-brand h1{ /** my name **/
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  color: #E7E7E7;
}

.navbar-brand h2{ /** my name **/
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}

#nav-list{
  margin-top: 10px;
}

#nav-list a{
  color: #951C49;
  test-align: center;
}

#nav-list a:hover{
  background: #E7E7E7;
}

#nav-list a span{
  font-size: 1.8em;
}

.navbar .nav > li > a {
    float:none;
    display:inline-block;
    vertical-align: top;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid 61122f;
}

.navbar-header button.navbar-toggle{
  clear: both;
  margin-top: -30px;
}

/** --------- END OF NAVIGATION --------- **/

/** --------- MAIN CONTENT --------- **/

/** ---- ABOUT SECTION ---- **/
  .jumbotron{
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }

#aboutMeHeader{
  margin-top: 65px;
}
/** ---- END OF ABOUT SECTION ---- **/

/** ---- PROJECTS SECTION ---- **/
#projects_tile, .row{
  width: 100%;
}
#project1, #project2, .col-lg-6{
  border: 2px solid #3F0C1F;
  overflow: hidden;
  
}
#project2{
  margin-left: 100px;
}
#project1:hover, #project2:hover{
  box-shadow: 0 1px 5px 1px #3F0C1F;
}
/** ---- END OF PROJECTS SECTION ---- **/

/** --------- END OF MAIN CONTENT --------- **/


/** --------- LARGE DEVICES --------- **/
@media (min-width: 1200px){
  #myAboutDiv{
    margin-left: -150px;
  }
  .jumbotron{
    background: url('http://i.imgur.com/swfLj2K.jpg?1')  no-repeat;
    height: 475px;
    width: 325px;
  }
}

/** --------- MEDIUM DEVICES --------- **/
@media (min-width: 992px) and (max-width: 1199px){
  .jumbotron{
    background: url('http://i.imgur.com/swfLj2K.jpg?1')  no-repeat;
    height: 475px;
    width: 325px;
  }
}

/** --------- SMALL DEVICES --------- **/
@media (min-width: 768px) and (max-width: 991px){
  .jumbotron{
    background: url('http://i.imgur.com/swfLj2K.jpg?1')  no-repeat;
    height: 475px;
    width: 325px;
  }
}

/** --------- EXTRA SMALL DEVICES --------- **/
@media (max-width: 767px){
  .navbar-brand{
    padding-top: 10px;
    height: 80px;
  }
  
  .navbar-brand h1{
    padding-top: 10px;
    font-size: 5vw;
  }
  
  #collapsable-nav a{
    font-size: 1.2em;
  }
  
    #collapsable-nav a span{
    font-size: 1em;
    margin-right: 5px;
  }
  .jumbotron{
    background: url('http://i.imgur.com/swfLj2K.jpg?1')  no-repeat;
    height: 275px;
    width: 225px;
  }
}
